@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

:root {
  --clr-accent-color: #6751a4;
  --clr-accent-color-light: #dedede;

  --clr-nav-color: #e9d8f5;

  --clr-input-filed-bg: #f7f7f7;
  --clr-input-filed: #d3d3d3;
  --clr-input-filed-focused: #8a7bb3;

  --clr-text-color: #303030;
  --clr-text-color-light: #acacac;
  --clr-bg-color: #f3edf7;

  --clr-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-bg-color);
  color: var(--clr-text-color);
}

.container {
  max-width: 66 rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/*------------------ NAV ------------------*/

nav {
  background-color: var(--clr-nav-color);
}

.title {
  font-size: 7rem;
  font-weight: 600;
  padding: 2.5rem 0 1rem;
}

/*------------------ CREDENTIONALS ------------------*/

.credentionals {
  background-color: var(--clr-white);
  margin: 5rem 0 0;
  padding: 2.4rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 5px rgba(82, 82, 82, 0.2);
}

.credentionlas-form {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.fields-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.input-field {
  display: inline-block;
  background-color: var(--clr-input-filed-bg);
  border: solid 2px var(--clr-input-filed);
  border-radius: 0.6rem;
  font-size: 1.8rem;
  padding: 1rem;
}

.input-field:focus {
  border: solid 2px var(--clr-input-filed-focused);
}

.required {
  color: red;
  font-size: 1.5rem;
}

/*------------------ Questions ------------------*/

.question-container {
  background-color: var(--clr-white);
  padding: 2.4rem;
  margin: 2.4rem 0;
  border-radius: 1.2rem;
  box-shadow: 0 0 5px rgba(82, 82, 82, 0.2);
}

.question {
  font-size: 2.4rem;
  font-weight: 500;
}

.img {
  background-image: url("img/photo.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
  border-radius: 12px;
  margin: 2.4rem 0;
}

.checkbox {
  -webkit-appearance: none;
  background-color: var(--clr-input-filed-bg);
  border: 3px solid var(--clr-accent-color);
  width: 7px;
  height: 7px;
  padding: 7px;
  border-radius: 3px;
}

.checkbox:checked {
  -webkit-appearance: none;
  background-image: url("img/check.svg");
  background-color: var(--clr-accent-color);
}

.alternative {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.1rem;
}

.alternatives {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.option {
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

/*------------------ Action ------------------*/

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2.4rem;
  border-radius: 300px;
  cursor: pointer;
  transition: 300ms;
}

.button:hover {
  filter: brightness(90%);
}

.submit {
  background-color: var(--clr-accent-color);
  color: var(--clr-white);
}

.cancel {
  background-color: var(--clr-accent-color-light);
  color: var(--clr-accent-color);
}

/*------------------ FOOTER ------------------*/

footer {
  text-align: center;
  padding: 2rem 0;
}

.code {
  text-decoration: none;
  color: var(--clr-text-color-light);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.code svg {
  fill: var(--clr-text-color-light);
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .credentionlas-form {
    flex-direction: column;
  }
}
